body {
  height: 100vh;
  margin: 0;
}

.App {
  font-family: 'Inter', sans-serif;
  background-color: #282D35;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */

nav {
  background-color: #21222A;
  display: flex;
  align-items: center;
  padding: 31px 26px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

nav.light {
  background-color: white;
}

.navbar-logo {
  max-width: 29px;
  max-height: 29px;
  margin-right: 7px;
}

.navbar-title  {
  color: #61DAFB;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  margin-right: auto;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 10px;
  font-weight: 600;
  margin: 0;
}

.toggler-slider {
  width: 25px;
  height: 13px;
  background-color: #F5F5F5;
  border-radius: 12px;
  margin: 0 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid white;
}

nav.light .toggler-slider {
  border-color: black;
  background-color: #2B283A;
  justify-content: flex-start;
}

.toggler-slider-circle {
  height: 13px;
  width: 13px;
  background-color: black;
  border-radius: 50%;
}

nav.light .toggler-slider-circle {
  background-color: white;
}

.toggler-txt-dark {
  color: white;
}

nav.light .toggler-txt-dark {
  color: #D5D4D8;
}

.toggler-txt-light {
  color: #918E9B
}

nav.light .toggler-txt-light {
  color: #2B283A;
}

/* MAIN */

main {
padding-bottom: 125px;
color: #FFFFFF;
background-image: url(./images/dark-logo.png);
background-repeat: no-repeat;
background-position: right 60%;
}

main.light {
  background-image: url(./images/light-logo.png); 
  background-color: white;
  color: #2B283A;    
}

.main-title {
  font-size: 39px;
  font-weight: 700;
  margin: 57px auto 41px 27px;
}

.main-facts li {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding-block: 10px;
}

.main-facts li::marker {
  font-size: 22px;
  color: #61DAFB;
}